block variables
    -
        var title = "Заповедники России"
    -
        var descs = [
        {
            menuItem: "Ботчинский заповедник",
            pict: "Botchinskiy.jpg",
            firstP: `В 1982 году на Дальнем Востоке России в бассейне р. Ботчи был организован заказник краевого значения площадью 239 тыс. га. В 1984 году согласно плану развития сети заповедников России до 2000 года научная общественность края сделала обоснование о необходимости создания заповедникана базе существующего заказника. В результате подробных экспедиционных исследований биологического разнообразия Хабаровского края в 1994 году в Советско-Гаванском районе на месте существовавшего заказника был создан заповедник Ботчинский. Площадь Ботчинского заповедника составляет 267 380 га, он расположен в 120 км южнее города Советская Гавань. Площадь охранной зоны - 81000 га.`,
            secondP: `Северная граница ботчинского заповедника проходит по водоразделу бассейна рек Мульпа и Топты и водоразделу между левыми притоками реки Ботчи и правыми притоками реки Коппи. Западная граница проходит по водораздельному хребту между реками Бо-Джаус и Ботчи, по западной административной границы Совгаванского района до водораздела между реками Уйна и Неу. Южная граница - по водоразделу между правыми притоками р. Ботчи и левыми притоками р. Нельма и далее по хребту Туманный. Восточная граница проходит вдоль границы водозащитной лесной полосы в 10 км от побережья Татарского пролива. Внутри заповедника населенных пунктов нет.`
        }
        ]
    -
        var dictMenu = { 'Заповедники России': 'index.html', 
                         'Список заповедников России': "parklist.html"
                       }
    - 
        var listImages = ['Botchinskiy.jpg', 'Bureinskiy.jpg', 'Ilmenskiy.jpg', 'Vitimskiy.jpg', 'Zeiskiy.jpg', 'Astrachanskiy.jpg']
    - 
        var listLeftContent = [
            {
              'header': 'Байкальский заповедник',
              'image': 'Baikalskiy.jpg', 
              'text': 'Бурятия '
            },
            {
              'header': 'Баргузинский заповедник',
              'image': 'Bargyzinsky.jpg', 
              'text': 'Бурятия '
            },
            {
              'header': 'Башкирский заповедник',
              'image': 'Bashkirsky.jpg', 
              'text': 'Башкортостан '
            },
            {
              'header': 'Болоньский заповедник',
              'image': 'Bolonsky.jpg', 
              'text': 'Хабаровский край '
            }
        ]
    - 
        var listRightContent = [
            {
              'header': 'Буреинский заповедник',
              'image': 'Bureinsky.jpg', 
              'text': 'Хабаровский край '
            },
            {
              'header': 'Висимский заповедник',
              'image': 'Visimskiy.jpg', 
              'text': 'Свердловская область '
            },
            {
              'header': 'Вишерский заповедник',
              'image': 'Visherskiy.jpg', 
              'text': 'Пермский край '
            },
            {
              'header': 'Даурский заповедник',
              'image': 'Daurskiy.jpg', 
              'text': 'Забайкальский край '
            }
        ]
    - 
        var listMiddleContent = [
            {
              'header': 'Заповедник "Азас"',
              'image': 'Azas.jpg', 
              'text1': "«Азас» - государственный природный заповедник. Расположен в Тоджинском кожууне Республики Тыва. Создан 11 января 1985 года на базе республиканского заказника «Азас». Входит в состав ассоциации заповедников и национальных парков Алтай-Саянского экорегиона.",
              'text2': "Территория заповедника (300 390 га в границах 1991 г.) расположена в центральной части Тоджинской котловины на северо-востоке Тувы и вытянута в широтном направлении вдоль р. Азас. Географические координаты её крайних точек: север - 52°42', юг - 52°16', восток - 98°42', запад - 96°30'."
            },
            {
              'header': 'Алтайский заповедник',
              'image': 'Altaiskiy.jpg', 
              'text1': "Алтайский заповедник, официальное название Алтайский государственный природный биосферный заповедник - особо охраняемая природная территория в Алтайских горах. Основан в 1932 году, впоследствии упразднялся и воссоздавался вновь. Часть объекта всемирного наследия ЮНЕСКО «Золотые горы Алтая».",
              'text2': "Входит в состав ассоциации заповедников и национальных парков Алтай-Саянского экорегиона. Климат заповедника континентальный, горный. Зависит от особенностей рельефа. Зима на берегах Телецкого озера - одна из самых мягких в Сибири, что связано с влиянием обычных в это время года восточных и юго-восточных фёнов."
            }
        ]
    -
        var tableHeader = ['Название', 'Субъект РФ', 'Ближайший город', 'Площадь, км²', 'Дата образования']
    -
        var tableData = [
            {
              'f1': 'Азас',
              'f2': 'Тыва',
              'f3': 'Кызыл',
              'f4': '3003.90',
              'f5': '11.01.1985'
            },
            {
                'f1': 'Алтайский заповедник',
                'f2': 'Республика Алтай',
                'f3': 'Горно-Алтайск',
                'f4': '8812.38',
                'f5': '16.04.1932'
            },
            {
                'f1': 'Астраханский заповедник',
                'f2': 'Астраханская область',
                'f3': 'Астрахань',
                'f4': '679.17',
                'f5': '11.04.1919'
            },
            {
                'f1': 'Байкало-Ленский заповедник',
                'f2': 'Иркутская область',
                'f3': 'Иркутск',
                'f4': '6599.19',
                'f5': '05.12.1986'
            },
            {
                'f1': 'Байкальский заповедник',
                'f2': 'Бурятия',
                'f3': 'Улан-Удэ',
                'f4': '1657.24',
                'f5': '26.09.1969'
            },
            {
                'f1': 'Баргузинский заповедник',
                'f2': 'Бурятия',
                'f3': 'Улан-Удэ',
                'f4': '3743.22',
                'f5': '11.01.1917'
            },
            {
                'f1': 'Басеги',
                'f2': 'Пермский край',
                'f3': 'Пермь',
                'f4': '379.35',
                'f5': '01.10.1982'
            },
            {
                'f1': 'Бастак',
                'f2': 'Еврейская автономная область',
                'f3': 'Биробиджан',
                'f4': '917.71',
                'f5': '13.02.1997'
            },
            {
                'f1': 'Башкирский заповедник',
                'f2': 'Башкортостан',
                'f3': 'Уфа',
                'f4': '496.09',
                'f5': '11.07.1930'
            },
            {
                'f1': 'Белогорье',
                'f2': 'Белгородская область',
                'f3': 'Белгород',
                'f4': '21.31',
                'f5': '13.07.1979'
            },
            {
                'f1': 'Богдинско-Баскунчакский заповедник',
                'f2': 'Астраханская область',
                'f3': 'Ахтубинск',
                'f4': '184.78',
                'f5': '18.11.1997'
            },
            {
                'f1': 'Болоньский заповедник',
                'f2': 'Хабаровский край',
                'f3': 'Хабаровск',
                'f4': '1036.00',
                'f5': '18.11.1997'
            },
            {
                'f1': 'Большая Кокшага',
                'f2': 'Марий Эл',
                'f3': 'Йошкар-Ола',
                'f4': '214.05',
                'f5': '14.03.1993'
            },
            {
                'f1': 'Большехехцирский заповедник',
                'f2': 'Хабаровский край',
                'f3': 'Хабаровск',
                'f4': '454.71',
                'f5': '03.10.1963'
            },
            {
                'f1': 'Большой Арктический заповедник',
                'f2': 'Красноярский край',
                'f3': 'Норильск',
                'f4': '41692.22',
                'f5': '11.05.1993'
            },
            {
                'f1': 'Ботчинский заповедник',
                'f2': 'Хабаровский край',
                'f3': 'Советская Гавань',
                'f4': '2673.80',
                'f5': '25.05.1994'
            },
            {
                'f1': 'Брянский лес',
                'f2': 'Брянская область',
                'f3': 'Брянск',
                'f4': '121.86',
                'f5': '14.07.1987'
            },
            {
                'f1': 'Буреинский заповедник',
                'f2': 'Хабаровский край',
                'f3': 'Чегдомын',
                'f4': '3584.00',
                'f5': '12.08.1987'
            },
            {
                'f1': 'Верхне-Тазовский заповедник',
                'f2': 'Ямало-Ненецкий автономный округ',
                'f3': 'Тарко-Сале',
                'f4': '6313.08',
                'f5': '24.12.1986'
            },
            {
                'f1': 'Висимский заповедник',
                'f2': 'Свердловская область',
                'f3': 'Екатеринбург',
                'f4': '335.00',
                'f5': '06.07.1971'
            },
            {
                'f1': 'Витимский заповедник',
                'f2': 'Иркутская область',
                'f3': 'Бодайбо',
                'f4': '5858.38',
                'f5': '20.05.1982'
            },
            {
                'f1': 'Вишерский заповедник',
                'f2': 'Пермский край',
                'f3': 'Красновишерск',
                'f4': '2412.00',
                'f5': '26.02.1991'
            },
            {
                'f1': 'Волжско-Камский заповедник',
                'f2': 'Татарстан',
                'f3': 'Казань',
                'f4': '100.91',
                'f5': '30.04.1960'
            },
            {
                'f1': 'Воронежский заповедник',
                'f2': 'Воронежская область, Липецкая область',
                'f3': 'Воронеж',
                'f4': '310.53',
                'f5': '03.12.1923'
            },
            {
                'f1': 'Воронинский заповедник',
                'f2': 'Тамбовская область',
                'f3': 'Тамбов',
                'f4': '103.20',
                'f5': '12.08.1994'
            },
            {
                'f1': 'Восточно-Уральский заповедник',
                'f2': 'Челябинская область',
                'f3': 'Челябинск',
                'f4': '166.16',
                'f5': '09.04.1966'
            },
            {
                'f1': 'Галичья Гора',
                'f2': 'Липецкая область',
                'f3': 'Липецк',
                'f4': '2.3',
                'f5': '25.04.1925'
            },
            {
                'f1': 'Гыданский заповедник',
                'f2': 'Ямало-Ненецкий автономный округ',
                'f3': 'Новый Уренгой',
                'f4': '8781.74',
                'f5': '07.10.1996'
            },
            {
                'f1': 'Дагестанский заповедник',
                'f2': 'Дагестан',
                'f3': 'Махачкала',
                'f4': '190.61',
                'f5': '09.01.1987'
            },
            {
                'f1': 'Дальневосточный морской заповедник',
                'f2': 'Приморский край',
                'f3': 'Владивосток',
                'f4': '643.16',
                'f5': '24.03.1978'
            },
            {
                'f1': 'Дарвинский заповедник',
                'f2': 'Вологодская область, Ярославская область',
                'f3': 'Череповец',
                'f4': '1126.30',
                'f5': '18.07.1945'
            },
            {
                'f1': 'Даурский заповедник',
                'f2': 'Забайкальский край',
                'f3': 'Чита',
                'f4': '457.90',
                'f5': '25.12.1987'
            },
            {
                'f1': 'Денежкин Камень',
                'f2': 'Свердловская область',
                'f3': 'Североуральск',
                'f4': '781.92',
                'f5': '16.08.1991'
            },
            {
                'f1': 'Джергинский заповедник',
                'f2': 'Бурятия',
                'f3': 'Улан-Удэ',
                'f4': '2380.88',
                'f5': '14.08.1992'
            },
            {
                'f1': 'Джугджурский заповедник',
                'f2': 'Хабаровский край',
                'f3': 'Аян',
                'f4': '8599.56',
                'f5': '10.09.1990'
            },
            {
                'f1': 'Жигулёвский заповедник',
                'f2': 'Самарская область',
                'f3': 'Самара',
                'f4': '231.57',
                'f5': '19.08.1927'
            },
            {
                'f1': 'Зейский заповедник',
                'f2': 'Амурская область',
                'f3': 'Зея',
                'f4': '994.30',
                'f5': '03.10.1963'
            },
            {
                'f1': 'Ильменский заповедник',
                'f2': 'Челябинская область',
                'f3': 'Миасс',
                'f4': '303.80',
                'f5': '14.05.1920'
            },
            {
                'f1': 'Кабардино-Балкарский высокогорный заповедник',
                'f2': 'Кабардино-Балкария',
                'f3': 'Нальчик',
                'f4': '826.42',
                'f5': '08.01.1976'
            },
            {
                'f1': 'Кавказский заповедник',
                'f2': 'Адыгея, Карачаево-Черкесия, Краснодарский край',
                'f3': 'Сочи',
                'f4': '2800.00',
                'f5': '12.05.1924'
            },
            {
                'f1': 'Калужские засеки',
                'f2': 'Калужская область',
                'f3': 'Калуга',
                'f4': '185.33',
                'f5': '05.11.1992'
            },
            {
                'f1': 'Кандалакшский заповедник',
                'f2': 'Республика Карелия, Мурманская область',
                'f3': 'Кандалакша',
                'f4': '705.30',
                'f5': '07.09.1932'
            },
            {
                'f1': 'Катунский заповедник',
                'f2': 'Республика Алтай',
                'f3': 'Горно-Алтайск',
                'f4': '1500.79',
                'f5': '25.07.1991'
            },
            {
                'f1': 'Кедровая Падь',
                'f2': 'Приморский край',
                'f3': 'Владивосток',
                'f4': '178.97',
                'f5': '01.01.1970'
            },
            {
                'f1': 'Керженский заповедник',
                'f2': 'Нижегородская область',
                'f3': 'Нижний Новгород',
                'f4': '467.89',
                'f5': '23.04.1993'
            },
            {
                'f1': 'Кивач',
                'f2': 'Республика Карелия',
                'f3': 'Петрозаводск',
                'f4': '108.80',
                'f5': '11.06.1931'
            },
            {
                'f1': 'Кологривский лес',
                'f2': 'Костромская область',
                'f3': 'Кологрив',
                'f4': '589.40',
                'f5': '21.01.2006'
            },
            {
                'f1': 'Командорский заповедник',
                'f2': 'Камчатский край',
                'f3': 'Петропавловск-Камчатский',
                'f4': '36486.79',
                'f5': '23.04.1993'
            },
            {
                'f1': 'Комсомольский заповедник',
                'f2': 'Хабаровский край',
                'f3': 'Комсомольск-на-Амуре',
                'f4': '644.13',
                'f5': '03.10.1963'
            },
            {
                'f1': 'Корякский заповедник',
                'f2': 'Камчатский край',
                'f3': 'Петропавловск-Камчатский',
                'f4': '3271.56',
                'f5': '26.12.1995'
            }
        ]